/*******************************************************************************
Regular HTML elements
*******************************************************************************/

/* <blockquote> element */
blockquote {
    position: relative;
    margin-bottom: 30px;
    padding: 15px 80px;
    text-align: center;
}

blockquote:before, blockquote:after {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 4rem;
    line-height: 1;
}

blockquote:before {
    top: 0;
    left: 0;
    content: "\201C";
}

blockquote:after {
    bottom: 0;
    right: 0;
    content: "\201D";
}

@media(max-width: 640px) {
    blockquote {
        padding: 15px 40px;
    }
}


/* <pre> element */
pre {
    padding: 15px;
    border: none;
    border-radius: 0;
    background: none;
}


/* <code>, <kbd>, and <samp> elements that are outside a <pre> block */
:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
    background: #e8e8e8;
    border-radius: 3px;
}


/*******************************************************************************
Endless
*******************************************************************************/

/* Add an offset to anchor elements according to sticky header height */
a[id^="anchor-section-"] + div {
    margin-top: -1.5em;
}

a[id^="anchor-parameter-"] + h4 {
    margin-top: -1em;
}

a[id^="anchor-"] {
    display: inline-block;
    padding-top: calc(20vh + 3em);
    margin-top: calc(-20vh - 3em);
}

@media(max-width: 640px) {

    a[id^="anchor-"] {
        padding-top: calc(15vh + 3em);
        margin-top: calc(-15vh - 3em);
    }
}


/* Section backgrounds and shadows */
.uk-section:not(.uk-section-muted):not(.uk-section-primary):not(.uk-section-secondary) {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 5px, #fdfdfd 3px, #fdfdfd 8px);
}

.uk-section:not(.uk-section-muted):not(.uk-section-primary):not(.uk-section-secondary) > .uk-container {
    background: linear-gradient(to bottom, transparent 0%, #ffffff 25em);
}

.uk-section.uk-section-muted {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 5px, #fafafa 3px, #fafafa 8px);
}

.uk-section.uk-section-muted > .uk-container {
    background: linear-gradient(to bottom, transparent 0%, #fdfdfd 25em);
}

@media(max-width: 1000px) {
    .uk-section:not(.uk-section-muted):not(.uk-section-primary):not(.uk-section-secondary) > .uk-container {
        background: none;
    }

    .uk-section.uk-section-muted > .uk-container {
        background: none;
    }
}

@media(min-width: 1000px) {

    .uk-section:not(.uk-section-muted):not(.uk-section-primary):not(.uk-section-secondary) > .uk-container {
        padding-bottom: 40px;
        box-shadow: 0 28px 50px rgba(0,0,0,.03);
    }

    .uk-section.uk-section-muted > .uk-container {
        padding-bottom: 40px;
        box-shadow: 0 28px 50px rgba(0,0,0,.035);
    }
}


/* Formulas */
.formula {
    font-size: 1rem;
    font-weight: 700;
    white-space: normal;
    background: none !important;
    padding: 0;
}


/* JSXGraph widgets */
.widget *+.uk-grid-margin,
.widget .uk-grid+.uk-grid,
.widget .uk-grid>.uk-grid-margin {
     margin-top: 0;
}

/* Do not outline focused widget form elements */
.tweaker :focus {
    outline: none;
}

.tweaker .JXGtext {
    margin-left: 10px;
}

.tweaker ellipse {
    cursor: pointer;
}

.tweaker .JXGtext input[type="checkbox"] {
    margin-left: -10px;
}

.tweaker input[type="checkbox"]:checked,
.tweaker input[type="checkbox"]:indeterminate {
    background-color: transparent;
    border-color: #D6DF22;
    color: #D6DF22;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E");
}

.tweaker input[type="checkbox"]:not(:disabled) {
    cursor: pointer;
}

.tweaker input[type="checkbox"] {
    box-sizing: border-box;
    margin: 0 10px 0 0;
    padding: 0;
    border-radius: 0;
    font: inherit;
    display: inline-block;
    height: 16px;
    width: 16px;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #D6DF22;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-transition-property: background-color,border;
    transition-property: background-color,border;
}


:not(.uk-card).fit-width {
    border-radius: 5px;
}

/* Make JSXGraph widgets, source code blocks and images to fit device width
   at low resolution */
@media(max-width: 640px) {

    .fit-width {
        margin-left: -15px;
        padding-left: 15px;
        margin-right: -15px;
        padding-right: 15px;
    }

    .uk-card.fit-width {
        padding-left: 0;
        padding-right: 0;
    }

    :not(.uk-card).fit-width {
        border-radius: 0;
    }
}


/*******************************************************************************
Header
*******************************************************************************/

.banner {
    position: relative;
    min-height: 20vh;
    max-height: 33vh;
    height: 33vh;
    width: 100%;
    background: #000000;
    cursor: pointer;
}

@media(max-width: 640px) {

    .banner {
        min-height: 15vh;
        max-height: 25;
        height: 25vh;
    }
}


.banner-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    color: white;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.banner.tweaked .banner-head {
    opacity: 0;
}


.banner-head h1 {
    color: #ffffff;
    font-weight: 100;
}

@media(max-width: 640px) {
    .banner-head h1 {
        font-size: 0.75rem;
    }
}


.banner-head h1 span {
    display: block;
    font-size: 0.63em;
    color: #909090;
}

@media(max-width: 640px) {

    .banner-head h1 span {
        font-size: .5em;
    }
}


@media(max-width: 640px) {

    .uk-navbar-item,
    .uk-navbar-nav > li > a {
        padding: 0 5px;
        height: 40px;
    }
}

@media(max-height: 640px) {

    .uk-navbar-item,
    .uk-navbar-nav > li > a {
        padding: 0 5px;
        height: 40px;
    }
}


/*******************************************************************************
Section tweakers
*******************************************************************************/
#section-tweakers {
    background: rgba(0,0,0,.6);
    overflow-y: hidden;
}

#section-tweakers > .uk-section {
    padding-bottom: 20px;
}

@media(max-height: 640px) {
    #section-tweakers .uk-tab {
        margin-top: 5px;
    }

    #section-tweakers .uk-tab > * > a {
        font-size: 0.75rem;
    }
}

#section-tweakers.uk-dropdown {
    display: block;
    visibility: hidden;
    padding: 5px 0 20px 0;
}

#section-tweakers.uk-dropdown.uk-open {
    display: block;
    visibility: visible;
}

#section-tweakers.uk-dropdown-bottom-center {
    margin-top: 0;
}

/* UIkit switcher component override allowing to display JSCGraph board in
switcher panes */
#section-tweakers .uk-switcher > :not(.uk-active) {
    display: block;
    visibility: hidden;
    height: 0;
    padding: 0;
}

#section-tweakers .uk-switcher.uk-active {
    display: block;
    visibility: visible;
}

#section-tweakers .widget .uk-grid-stack .uk-first-column .jxgbox {
    height: 150px;
}

/*******************************************************************************
Section hero
*******************************************************************************/

#section-hero {
    min-height: calc(67vh - 80px);
}

#section-hero a {
    text-decoration: none;
}

#section-hero .uk-card-primary {
    background: #D6DF22;
}


#section-hero .uk-card-primary.uk-card-body .uk-text-lead {
    color: #222;
}

#section-hero .uk-card-primary.uk-card-hover:hover {
    background-color: #1e87f0 !important;
    box-shadow: 0 14px 25px rgba(0,0,0,.16);
    color: #ffffff;
    cursor: pointer;
}

#section-hero .uk-card-primary.uk-card-hover:hover * {
    color: #ffffff;
}


/*******************************************************************************
Section about
*******************************************************************************/

#about-author p {
    text-align: justify!important;
}

.uk-grid-stack #about-author p {
    text-align: left!important;
}

/*******************************************************************************
Section features
*******************************************************************************/

/* Fix for UIKit issue #2919 */
#section-features .uk-list>li::after {
    clear: none;
}


/*******************************************************************************
Section usage
*******************************************************************************/

@media(max-width: 640px) {

    #section-usage {
        padding-bottom: 0;
    }
}

/*******************************************************************************
Section settings
*******************************************************************************/

#section-settings h4::before {
    font-family: FontAwesome;
    content: "\f1de";
    margin-top: -10px;
    border-left: 0;
}


/*******************************************************************************
Section images
*******************************************************************************/

#section-images {
    padding-bottom: 0;
}

@media(max-width: 640px) {

    #section-images * +.uk-grid-margin,
    #section-images .uk-grid +.uk-grid,
    #section-images .uk-grid > .uk-grid-margin {
         margin-top: 0;
    }
}


/*******************************************************************************
Footer
*******************************************************************************/



/*******************************************************************************
Plugins customs
*******************************************************************************/

/* highlight.js plugin */
.hljs {
    padding: 0;
    background: transparent !important;
}

@media(max-width: 640px) {

    .hljs {
        font-size: 0.92em;
        line-height: 1.2;
    }
}


/* jsSocials plugin */
.jssocials-share-link {
    border-radius: 50%;
}


/* JSXGraph boards */
.jxgbox {
    background: none;
    border: none;
    height:220px;
}

@media(max-width: 640px) {

    .jxgbox {
        height:200px;
    }
}
